@import url('https://fonts.googleapis.com/css?family=Encode+Sans|Hind+Siliguri|Montserrat:200,400|Roboto:300,400,500');

.App {
	text-align: center;
}

.App-logo {
	height: 120px;
}

.App-header {
	background-color: #F3F2F2;
	padding: 20px;
	color: #434343;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 30px;
	line-height: 40px;
}
