.App-logo {
	height: 120px;
}

.App-header {
	background-color: #F3F2F2;
	padding: 20px;
	text-align: center;
}


.App-container {
	max-width: 1300px;
	display: flex;
	margin: 0 auto;
	justify-content: center;
}
