@import url('https://fonts.googleapis.com/css?family=Encode+Sans|Hind+Siliguri|Montserrat:200,400|Roboto:300,400,500');

.App-logo {
	height: 120px;
}

.App-header {
	background-color: #F3F2F2;
	padding: 20px;
	text-align: center;
	h1 {
		color: #434343;
		font-family: 'Montserrat', sans-serif;
		font-weight: 200;
		font-size: 45px;
		line-height: 55px;
	}
}


.App-container {
	max-width: 1300px;
	display: flex;
	margin: 0 auto;
	justify-content: center;
}
